body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 248, 220);
}

.bisque {
  background-color: rgb(255, 228, 196);
}

.bisque input,
.bisque input:focus {
  background-color: rgb(255, 248, 220);
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  max-width: 450px;
  padding: 50px;
  margin-top: 10px;
  width: 100%;
}

.chart-container {
  width: 100%;
}

.chart {
  max-width: 900px;
  margin: 0 auto;
}

a.demo {
  color: #0d6efd;
  text-decoration: none;
  font-weight: 500;

  display: flex;
  width: 80px;
}

/* NotificationBanner */

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.notification-banner {
  position: fixed;
  left: calc(50% - 20%);
  z-index: 1;
  background-color: orange;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  padding: 10px 20px 10px 0;
  animation: slideInFromTop 0.7s ease-out;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
