body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 248, 220);
}

.bisque {
  background-color: rgb(255, 228, 196);
}

.bisque input,
.bisque input:focus {
  background-color: rgb(255, 248, 220);
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alert {
  max-width: 450px;
  padding: 50px;
  margin-top: 10px;
  width: 100%;
}

.chart-container {
  width: 100%;
}

.chart {
  max-width: 900px;
  margin: 0 auto;
}

a.demo {
  color: #0d6efd;
  text-decoration: none;
  font-weight: 500;

  display: flex;
  width: 80px;
}
